<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Property Area</h4>
                        </li>
                        <!-- <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Doctor</a>
                        </li>
                        <li class="breadcrumb-item active">Profile</li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <img src="assets/images/property1.jpg" height="500">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="profile-tab-box">
                        <div class="p-l-20">
                            <ul class="nav ">
                                <li class="nav-item tab-all">
                                    <a class="nav-link active show" href="#summary" data-toggle="tab">Summary</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#tenantDetails" data-toggle="tab">Tenant/Owner Details</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#financials" data-toggle="tab">Financials</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#units" data-toggle="tab">Units</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#task" data-toggle="tab">Tasks</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#eventhistory" data-toggle="tab">Event History</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#files" data-toggle="tab">Files</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#vendors" data-toggle="tab">Vendors</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <ng-container>
                        <div role="tabpanel" class="tab-pane active" id="summary" aria-expanded="true">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card project_widget">
                                        <div class="header">
                                            <h2><strong>Property Details</strong></h2> <a href="#"><button mat-button
                                                    class="btn-tbl-edit">
                                                    Edit
                                                </button></a>
                                            <hr>
                                        </div>

                                        <div class="body">
                                            <ng-container *ngIf="dataInfo">
                                                <div class="row">
                                                    <div class="col-md-4 col-6 b-r">
                                                        <strong>Property Name</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.propertyName}}</p>
                                                    </div>
                                                    <div class="col-md-4 col-6 b-r">
                                                        <strong>Property Type</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.propertyType.type}}</p>
                                                    </div>

                                                </div>
                                                <div class="row">

                                                    <div class="col-md-12 col-6 b-r">
                                                        <strong>Property Description</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.propertyDescription}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        <strong>ADDRESS</strong><br><a href="#">Map it</a>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.address}}</p>
                                                    </div>
                                                    <div class="col-md-6 col-6 b-r">
                                                        <strong>City</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.city}}</p>
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-md-3 col-6 b-r">
                                                        <strong>State</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.state}}</p>
                                                    </div>
                                                    <div class="col-md-3 col-6 b-r">
                                                        <strong>Country</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.country}}</p>
                                                    </div>
                                                    <div class="col-md-3 col-6 b-r">
                                                        <strong>Zip Code</strong>
                                                        <br>
                                                        <p class="text-muted">{{dataInfo.zipCode}}</p>
                                                    </div>
                                                    <div class="col-md-3 col-6 b-r">
                                                        <strong>Co-Ordinates</strong>
                                                        <br>
                                                        <p class="text-muted">Latitude : </p>
                                                        <p class="text-muted">Longitude : </p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card project_widget">
                                    <div class="header">

                                        <h2 ><strong>Rental Owners   </strong></h2>  <a href="#"><button mat-button class="btn-tbl-edit">
                                            Edit
                                        </button></a>
                                        <hr>
                                    </div>
                                    <div class="body">
                                        <div class="row" *ngIf="dataInfo;else elseRental">
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>NAME</strong>
                                                <br>
                                                <p class="text-muted">{{dataInfo.rentalFirstname}} {{dataInfo.rentalLastName}}</p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>MOBILE</strong>
                                                <br>
                                                <p class="text-muted">{{dataInfo.rentalMobile}} </p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>EMAIL</strong>
                                                <br>
                                                <p class="text-muted">{{dataInfo.rentalPrimaryEmail}}</p>
                                            </div>

                                        </div>

                                        <ng-template #elseRental>
                                            <div class="col-md-3 col-6">
                                                <p class="text-muted">No Rental Owner yet</p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div> -->



                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card project_widget">
                                        <div class="header">
                                            <h2><strong>Tenant website setting </strong></h2> <a href="#"><button
                                                    mat-button class="btn-tbl-edit">
                                                    Edit
                                                </button></a>
                                            <hr>
                                        </div>

                                        <div class="body">
                                            <div class="row">
                                                <div class="col-md-4 col-6 b-r">
                                                    <strong>PAYMENT HISTORY</strong>
                                                    <br>
                                                    <p class="text-muted">Tenant can view all transactions</p>
                                                </div>
                                                <div class="col-md-4 col-6 b-r">
                                                    <strong>REQUESTS</strong>
                                                    <br>
                                                    <p class="text-muted">Tenants can submit and view requests
                                                        online<br> Show entry questions and allow tenants to add notes
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card project_widget">
                                        <div class="header">
                                            <h2><strong>Appliances </strong></h2> <a href="#"><button mat-button
                                                    class="btn-tbl-edit">
                                                    Add
                                                </button></a>
                                            <hr>
                                        </div>

                                        <div class="body">
                                            <div class="row" *ngIf="dataInfo;else elseApp">
                                                <div class="col-md-6 col-6 b-r">
                                                    <strong>Appliances</strong>
                                                    <br>
                                                    <p class="text-muted">1.</p>
                                                </div>

                                            </div>
                                            <ng-template #elseApp>
                                                <div class="col-md-12 col-6 b-r">
                                                    <p class="text-muted">You don't have any appliances for this
                                                        property right now <a href="#">Add your first Property</a></p>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card project_widget">
                                    <div class="header">
                                        <input #fileUpload type="file" (click)="fileUpload.value = null"(change)="onselect($event)" style="display:none" accept="image/*" multiple>
                                        <h2 ><strong>Property Gallery</strong></h2>  <button mat-button class="btn-tbl-edit" (click)="fileUpload.click()"> Add </button>
                                        <hr>
                                    </div>

                                    <div class="body">
                                        <div class="row" *ngIf="dataInfo;else elseApp">
                                            <div class="col-md-6 col-6 b-r">
                                                <br>
                                                <img *ngFor='let imgUrl of imageUrls' [src]="imgUrl" height="100" width="100" style="border: 5px;">
                                            </div>

                                        </div>
                                        <ng-template #elseApp>
                                            <div class="col-md-12 col-6 b-r">
                                                <p class="text-muted">No Images to display  <a href="#">Add your first Property</a></p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                            <!-- <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card project_widget">
                                    <div class="header">
                                        <h2 ><strong>Notes   </strong></h2>  <a href="#"><button mat-button class="btn-tbl-edit">
                                            Add
                                        </button></a>
                                        <hr>
                                    </div>

                                    <div class="body">
                                        <div class="row" *ngIf="dataInfo;else elseNotes">
                                            <div class="col-md-6 col-6 b-r">
                                                <p class="text-muted">{{dataInfo.notes}}</p>
                                            </div>
                                        </div>
                                        <ng-template #elseNotes>
                                            <div class="col-md-12 col-6 b-r">
                                                <p class="text-muted"><a href="#">Add your first note</a></p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>

                            </div>
                        </div> -->

                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="card project_widget">
                                        <div class="header">
                                            <h2><strong>Recent files </strong></h2> <a href="#"><button mat-button
                                                    class="btn-tbl-edit">
                                                    Add
                                                </button></a>
                                            <hr>
                                        </div>

                                        <div class="body">
                                            <div class="row" *ngIf="dataInfo;else elseRecent">
                                                <div class="col-md-6 col-6 b-r">
                                                    <strong>Recent files</strong>
                                                    <br>
                                                    <p class="text-muted">1.</p>
                                                </div>

                                            </div>
                                            <ng-template #elseRecent>
                                                <div class="col-md-12 col-6 b-r">
                                                    <p class="text-muted">You don't have any files for this rental right
                                                        now <a href="#">Upload your first file</a></p>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="tenantDetails" aria-expanded="false">
                            <div class="card">
                                <div class="header">
                                    <h2>Tenant/Owner Details</h2>
                                </div>
                                <div class="body">

                                    <div class="profile-tab-box">
                                        <div class="p-l-20">
                                            <ul class="nav ">
                                                <li class="nav-item tab-all">
                                                    <a class="nav-link active show" href="#tenant"
                                                        data-toggle="tab">Tenant Details</a>
                                                </li>
                                                <li class="nav-item tab-all p-l-20">
                                                    <a class="nav-link" href="#owner" data-toggle="tab">Owner
                                                        Details</a>
                                                </li>
                                                <!-- <li class="nav-item tab-all p-l-20">
                                              <a class="nav-link" href="#management" data-toggle="tab">Management fee setting</a>
                                          </li> -->

                                            </ul>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="tab-content">
                                        <ng-container>
                                            <div role="tabpanel" class="tab-pane active" id="tenant"
                                                aria-expanded="true">

                                                <div class="card">
                                                    <div class="header">
                                                        <h2> Tenant Name : xyz</h2>
                                                        <h2> Start Date : </h2>
                                                    </div>
                                                    <div class="body">

                                                    </div>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="owner" aria-expanded="false">
                                                <div class="card">
                                                    <div class="header">
                                                        <h2> Owner Name : xyz</h2>
                                                    </div>
                                                    <div class="body">

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- <div role="tabpanel" class="tab-pane" id="management" aria-expanded="false">
                                          <div class="card">
                                              <div class="header">
                                                  <h2> Management fee setting</h2>
                                              </div>
                                              <div class="body">

                                              </div>
                                          </div>

                                      </div> -->
                                        </ng-container>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="financials" aria-expanded="false">
                            <div class="card">
                                <div class="header">
                                    <h2> Financials</h2>
                                </div>
                                <div class="body">

                                    <div class="profile-tab-box">
                                        <div class="p-l-20">
                                            <ul class="nav ">
                                                <li class="nav-item tab-all">
                                                    <a class="nav-link active show" href="#income"
                                                        data-toggle="tab">Income statement</a>
                                                </li>
                                                <li class="nav-item tab-all p-l-20">
                                                    <a class="nav-link" href="#lease" data-toggle="tab">Lease payment
                                                        setting</a>
                                                </li>
                                                <li class="nav-item tab-all p-l-20">
                                                    <a class="nav-link" href="#management" data-toggle="tab">Management
                                                        fee setting</a>
                                                </li>

                                            </ul>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="tab-content">
                                        <ng-container>
                                            <div role="tabpanel" class="tab-pane active" id="income"
                                                aria-expanded="true">

                                                <div class="card">
                                                    <div class="header">
                                                        <h2> Income Statement</h2>
                                                    </div>
                                                    <div class="body">

                                                    </div>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="lease" aria-expanded="false">
                                                <div class="card">
                                                    <div class="header">
                                                        <h2> Lease Payment</h2>
                                                    </div>
                                                    <div class="body">

                                                    </div>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="management" aria-expanded="false">
                                                <div class="card">
                                                    <div class="header">
                                                        <h2> Management fee setting</h2>
                                                    </div>
                                                    <div class="body">

                                                    </div>
                                                </div>

                                            </div>
                                        </ng-container>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="units" aria-expanded="false">
                            <div class="card">
                                <!--  <div class="header">
                                <h2> Units</h2>
                            </div> -->
                                <div class="body">

                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="task" aria-expanded="false">
                            <div class="card">
                                <div class="header">
                                    <h2>Request for service</h2>
                                </div>
                                <div class="body">
                                    <form class="form-group" [formGroup]="serviceForm" (ngSubmit)="requestForService()">
                                        <label class="container-checkbox" formArrayName="serviceId"
                                            *ngFor="let ser of servicesFormArray.controls; let i = index">
                                            <input type="checkbox" [formControlName]="i">
                                            {{servicesData[i].service}}
                                            <span class="checkmark"></span>
                                        </label>

                                        <!-- <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Remark</mat-label> -->
                                        <textarea placeholder="Describe here..." class="remark-field"
                                            formControlName="comment"></textarea>
                                        <!-- </mat-form-field>
                                        <mat-form-field class="example-full-width" appearance="outline"> -->

                                        <button class="mr-6" mat-raised-button color="primary">submit</button>
                                        <!-- </mat-form-field> -->

                                    </form>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="eventhistory" aria-expanded="false">
                            <div class="card">
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                        <div class="row">
                                            <div class="col-8">
                                                <ul class="header-buttons-left ml-0">
                                                    <li class="dropdown">
                                                        <h2>
                                                            <strong>Events History</strong></h2>
                                                    </li>
                                                    <li class="dropdown m-l-20">
                                                     <mat-form-field>
                                                        <input matInput  placeholder="Filter"> <!-- (keyup)="applyFilter($event.target.value)" -->
                                                      </mat-form-field>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table [dataSource]="serviceRequestHistory" matSort class="mat-cell">
                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                            <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="serviceName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Service Name</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.service.service}}</mat-cell>
                                        </ng-container> 
                                        <ng-container matColumnDef="comment">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.comment}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="vendorId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Vendor Id</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.vendorId}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="registerDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Register Date</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.registerDate | date}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumnsforServiceRequestHistroy"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsforServiceRequestHistroy;">
                                        </mat-row>
                                    </mat-table>
                                    <mat-paginator  #paginator
                                                    [length]="length"
                                                    [pageIndex]="0"
                                                    [pageSize]="pageSize"
                                                    [pageSizeOptions]="pageSizeOptions">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="files" aria-expanded="false">
                            <div class="body">
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="card">
                                                    <div class="body">
                                                        <div class="table-responsive">
                                                            <div class="materialTableHeader">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <ul class="header-buttons-left ml-0">
                                                                            <li class="dropdown">
                                                                                <h2>
                                                                                    <strong>Photos</strong>
                                                                                </h2>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <ul class="header-buttons">
                                                                            <li>
                                                                                <div class="icon-button-demo">
                                                                                    <button mat-mini-fab color="primary"
                                                                                        (click)="addPhoto()">
                                                                                        <mat-icon class="col-white">add
                                                                                        </mat-icon>
                                                                                    </button>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <mat-table [dataSource]="container" matSort
                                                                class="mat-cell">
                                                                <ng-container matColumnDef="Photo Type">
                                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                        Photo Type</mat-header-cell>
                                                                    <mat-cell *matCellDef="let row">{{row.firstName}}
                                                                    </mat-cell>
                                                                </ng-container>
                                                                <ng-container matColumnDef="Photos">
                                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                        Photos</mat-header-cell>
                                                                    <mat-cell *matCellDef="let row"> {{row.lastName}}
                                                                    </mat-cell>
                                                                </ng-container>
                                                                <mat-header-row *matHeaderRowDef="displayedColumns">
                                                                </mat-header-row>
                                                                <mat-row
                                                                    *matRowDef="let row; columns: displayedColumns;">
                                                                </mat-row>
                                                            </mat-table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane" id="vendors" aria-expanded="false">
                            <div class="card">
                                <div class="header">
                                    <h2> Vendors</h2>
                                </div>
                                <div class="body">

                                </div>
                            </div>

                        </div>




                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>