<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Property List</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/applicant">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Property List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <article *ngFor="let property of propertyList" class="mt-2">
                            <div class="card">
                                <div class="body">
                                    <div class="property-card" >
                                        <div class="property-img pointer" (click)="redirectToProperty(property)">
                                            <img src="assets/images/property/property-big.jpg" class="img-fluid" />
                                            <div class="row">
                                                <div class="col-md-2 border" *ngFor="let img of property.propertyUnit[0].propertyPhotos">
                                                    <img src="img" class="img-fluid" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="property-content p-2 pl-3">
                                            <div class="row">
                                                <div class="col-md-9 col-lg-9 mb-0 pointer" (click)="redirectToProperty(property)">
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12 mb-0">
                                                            <span class="font-size-small"><h5>{{property.propertyName}} </h5></span>
                                                            <span class=""> {{property.propertyType.type}}</span>
                                                        </div>
                                                        <div class="col-md-12 col-lg-12 mb-1">{{property.address}}, {{property.city}}, {{property.state}}</div>
                                                        <div class="col-md-5 m-1">
                                                            <div><b>Structure :</b> </div>
                                                            <ul class="col">
                                                                <li>Bedrooms : {{property.propertyUnit[0].bed}}</li>
                                                                <li>Gallaries : {{property.propertyUnit[0].gallary}}</li>
                                                                <li>Bath Rooms: {{property.propertyUnit[0].bath}}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6 m-1">
                                                            <div><b>Area : </b></div>
                                                            <ul>
                                                                <li>Carpet Area : {{property.propertyUnit[0].squareFeet}}</li>
                                                                <li>Used Area : {{property.propertyUnit[0].carpetArea}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-lg-3" style="position:relative">
                                                    <h3 class="text-right" *ngIf="property.propertyRate">Rs. {{property.propertyRate.rate}}</h3>
                                                    <button class="btn btn-success booking-btn" (click)="bookProperty(property.propertyId)">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h6>Search Criteria</h6>
                    </div>
                    <div class="body"></div>
                </div>
            </div>
        </div>
    </div>
</section>
