<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Property List</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/applicant">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Property List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ml-0">
                                            <li class="dropdown">
                                                <h2>
                                                    <strong>Property</strong></h2>
                                            </li>
                                            <li class="dropdown m-l-20">
                                             <mat-form-field>
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                              </mat-form-field>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="icon-button-demo">
                                                    <button mat-mini-fab color="primary" (click)="addProperty()" >
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-button-demo">
                                                    <button mat-mini-fab color="primary" (click)="refresh()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table [dataSource]="container" matSort class="mat-cell">
                                <ng-container matColumnDef="propertyName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Property Image</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [routerLink]="['../displayPropertyInfo', row.propertyId]"> <img src="assets/images/property/property-xsmall.jpg"/></mat-cell> 
                                </ng-container>
                                 <ng-container matColumnDef="ownerName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Property Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [routerLink]="['../displayPropertyInfo', row.propertyId]"> {{row.propertyName}}</mat-cell>
                                </ng-container> 
                                
                                <ng-container matColumnDef="mobile">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>city</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [routerLink]="['../displayPropertyInfo', row.propertyId]"> {{row.city}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="propertyAddress">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Property Address</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [routerLink]="['../displayPropertyInfo', row.propertyId]"> {{row.address}}</mat-cell>
                                </ng-container> 
                                   <!-- actions -->
                                <ng-container matColumnDef="actions" *ngIf="userRole=='INSPECTOR'">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button color="accent" class="btn-tbl-delete"
                                            (click)="$event.stopPropagation()" (click)="editCall(row)">
                                            <mat-icon aria-label="Edit" class="col-white">done</mat-icon>
                                        </button>
                                        <button mat-icon-button color="accent" class="btn-tbl-edit"
                                            (click)="$event.stopPropagation()" (click)="deleteItem(i, row)">
                                            <mat-icon aria-label="Delete" class="col-white">clear</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions" *ngIf="userRole=='ADMIN_USER'">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <select (change)="assignPropertyForInspection($event)">
                                            <option>Assign Inspector</option>
                                            <option *ngFor="let inspectors of allInspectors.data" value="inspectors.id">{{ inspectors.firstName+" "+inspectors.lastName }}</option>
                                        </select>
                                    </mat-cell>
                                </ng-container> 
                                <ng-container matColumnDef="actions" *ngIf="userRole=='USER'">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button color="accent" class="btn-tbl-delete"
                                        [routerLink]="['../displayPropertyInfo', row.propertyId]">
                                        <mat-icon aria-label="Edit" class="col-white">pageview</mat-icon>
                                    </button>
                                    </mat-cell>
                                </ng-container>                                 
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>
                            <mat-paginator  #paginator
                                            [length]="length"
                                            [pageIndex]="0"
                                            [pageSize]="pageSize"
                                            [pageSizeOptions]="pageSizeOptions">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
